version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - media_volume:/app/media
      - static_volume:/app/staticfiles
    restart: always

volumes:
  media_volume:
  static_volume:
